---
import VerticalGallery from "../components/VerticalGallery.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="За нас - Solair" usesSmallFooter={true}>
  <div class="container my-8 mx-16">
    <VerticalGallery />

    <!-- Info -->
    <div class="flex flex-row my-8">
      <div class="w-1/5 text-left">За нас</div>
      <div class="w-2/5 text-left px-4">
        <p>
          Фирма СолЕр е създадена през 1997 год. с основен предмет на дейност
          архитектурно проектиране и дизайн.
        </p>
        <br />
        <p>
          През последните години приоритет в дейността на фирмата е
          проектирането на пасивни и почти нулево енергийни сгради, използване
          на възобновяеми енергийни източници, екологично чисти и рециклируеми
          строителни материали с оценка на въглеродния отпечатък.
        </p>
        <br />
        <p>
          Автори сме на първата сертифицирана пасивна сграда в България – Детска
          градина “Слънце” в Габрово. (2013 г.)
        </p>
        <br />
        <p>
          Сертифицирани проектанти и преподаватели сме от Passive House
          Institute (PHI), (Институт “Пасивна къща”) Darmstadt, Germany.
        </p>
        <br />
        <p>
          Съвместно с ЕнЕфект и Passive House Institute (PHI), (Институт
          “Пасивна къща”) Darmstadt, Germany участваме редица проекти, свързани
          с обучения на проектанти и строителни специалисти и прилагането на
          знания и политики за достигане на нивото на почти нулевите сгради при
          нови сгради и реконструкции.`;
        </p>
      </div>

      <div class="w-2/5 text-left px-4">
        <p>
          Контактът ни с експерти от различни страни за нас е безкрайно
          интересен и полезен. Резултатите от проектите са реална стъпка в
          прилагането на тези европейски практики у нас.
        </p>
        <br />
        <p>
          Привличат ни предизвикателствата и трудните проекти. Сред тях са
          няколко църкви и църковни комплекси, в които освен сложните канони и
          богати интериори се опитваме да проведем и прагматичните принципи на
          енергийна ефективност.
        </p>
        <br />
        <p>
          Лицензирани проектанти сме на сгради, паметници на културата. Автори
          сме на множество реставрации, някои от които са отличени с награди
          “Сграда на годината”.
        </p>
        <br />
        <p>
          Работим в областта на градоустройството и малкия градски дизайн.
          Понякога се занимаваме с графичен и уеб дизайн, като сме автори на
          редица запазени знаци и фирмени сайтове.
        </p>
        <br />
        <p>
          Обичаме природата, снега, водата, вятъра и животните. Вярваме в
          почтеността и държим на добрите и коректни взаимоотношения.
        </p>
        <br />
        <p>Ще се радваме ако и вие станете наши приятели.</p>
      </div>
    </div>

    <!-- Divider -->
    <div class="flex justify-center my-24">
      <div class="w-full border-b border-gray-900"></div>
    </div>

    <!-- Prizes -->
    <div class="container mx-auto">
      <div class="grid grid-cols-5">
        <div class="w-1/5">Награди</div>
        <img class="w-full col-span-4" src="assets/about-us/prizes.webp" />
        <div class="col-span-1"></div>
        <div class="col-span-2 px-4 my-8">
          <ul class="list-disc list-inside">
            <li>
              “Сграда на годината 2021” – специалната награда за проектът за
              реставрация на църква “Рождение на Блажена Дева Мария” и светилище
              “Евгений Босилков” в Белене.
            </li>
            <li>
              Награда на Баумит за Фасада на годината 2019год, – втора награда в
              категория “Термично саниране” на проектът за цялостна
              реконструкция на училище “Васил Левски” в Габрово.
            </li>
            <li>
              “Сграда на годината” 2016 в категория “Сгради социална
              инфраструктура”Китайски културен център„Институт Конфуций“ (в
              колектив с арх. Станислав Константинов).
            </li>
            <li>
              “Сграда на годината 2015” – специална наградаи плакет за Първата
              сертифицирана пасивна сграда в България—Детска градина “Слънце”,
              Габрово.
            </li>
            <li>
              Награда на “Сграда на годината” 2014 год. за Реставрация и
              адаптация на Централна минерална баня в музей на София, (в
              колектив с арх. Станислав Константинов).
            </li>
            <li>
              Трета награда на национален конкурс за детска градина в
              Свиленград, 2013 год.
            </li>
            <li>
              Сграда на Годината 2010 год. – номинация за Научно-изследователска
              лаборатория на Таск ЕООД, гр. Правец.
            </li>
            <li>
              Награда на Баумит за Фасада на годината 2009год. за Саниране на
              Блок 17, Благоевград.
            </li>
            <li>
              Награда на Столична община на Национална изложба “Изкуството на
              обществения форум” за параклис Св. Иван Рилски, Студентски град,
              София, 2006г., (в колектив с арх. Гергана Гитева).
            </li>
            <li>
              Награда на Министерство на труда и социалните грижи на Национална
              изложба “Изкуството на обществения форум” за параклис Св. Иван
              Рилски, Студентски град, София, 2006г. (колектив с арх. Гергана
              Гитева).
            </li>
          </ul>
        </div>
        <div class="col-span-2 px-4 my-8">
          <ul class="list-disc list-inside">
            <li>
              Първа награда на конкурс за жилищна сграда и търговски комплекс в
              Благоевград, 2005, (в колектив с Рапидограф ООД, арх. Христина
              Врабчева).
            </li>
            <li>Първа награда за шоурум на Мазда в София, 2003.</li>
            <li>
              Втора награда на национален конкурс за реставрация и консервация
              на църквата “Св. 40 Мъченици” във ВеликоТърново.
            </li>
            <li>
              Първа награда на национален конкурс за реставрация и адаптация на
              Централна минерална баня в музей на София,1999 год. (в колектив с
              арх. Станислав Константинов).
            </li>
            <li>
              Годишна награда на Голяма столична община за градски дизайн за
              стълба към„Макдоналдс“ зад НДК, 1998 год.
            </li>
            <li>
              Първа награда на национален конкурс за реконструкция на площад
              Славейков и околното квартално пространство, София, 1998 год. (в
              колектив с арх. Станислав Константинов).
            </li>
            <li>
              Първа награда на конкурс за реконструкция на терминал за обща
              авиация на летище София, 1998 год. (в колектив с арх. Станислав
              Константинов). Голямата награда на САБ за най-добър дипломен
              проект за 1997 год. (Александър Генчев).
            </li>
            <li>
              Голямата награда на ICOMOS (Международен комитет за археологически
              паметници и исторически градове) за най-добър дипломен проект в
              областта на опазване на архитектурното наследство, 1997 год.
              (Александър Генчев)
            </li>
            <li>
              Първа награда на компютърната лаборатория на ВИАС за прилагане на
              компютърни технологии в архитектурното проектиране, 1997 год.
              (Александър Генчев)
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Divider -->
    <div class="flex justify-center my-16">
      <div class="w-full border-b border-gray-900"></div>
    </div>

    <!-- Team -->
    <div class="container mx-auto">
      <div class="grid grid-cols-5">
        <div class="">Екип</div>
        <div class="col-span-2 px-4">
          <div class="container">
            <img class="mx-auto" src="assets/about-us/sasho.webp" />
          </div>
          <p class="mt-6">Александър Генчев</p>

          <p class="mt-6">Образование</p>

          <p class="mt-4">
            Университет по Архитектура, строителство и геодезия, София, 1997год.
            , специалност Архитектура (МА)
          </p>
          <p class="mt-4">Френска езикова гимназия, 1988год., София</p>

          <p class="mt-6">Специализации</p>

          <p class="mt-4">
            Сертифициран преподавател за нискоенергийни и пасивни сгради,
            Passive House Institute (PHI), Darmstadt, Germany
          </p>
          <p class="mt-4">
            Лицензиран проектант за обследване на енергийна ефективност и
            сертифициране на сгради , ТУ, София
          </p>
          <p class="mt-4">
            Лицензиран проектант на сгради паметници на културата , Министерство
            на Културата, София
          </p>

          <p class="mt-6">Чужди езици</p>

          <p class="mt-4">френски, английски и руски</p>

          <p class="mt-6">Работа към други фирми и организации</p>

          <p class="mt-4">
            2000-2001 – Cibex International, Paris; Coteba Int., Paris, клон
            София. Супервайзер на обект Хилтън, София, част Архитектура
          </p>
          <p class="mt-4">
            1998-2000 – ICON Architecture and Urban Design, Dublin, Ireland.
            Проекти по националната програма “Tidy Towns” за възобновяване и
            благоустрояване на градски структури и жилищни квартали в Ирландия.
          </p>
          <p class="mt-4">
            1997-1998 – Italian Design Center, София. Интериорни проекти за
            обзавеждане и осветление на жилищни и обществени сгради.
          </p>
        </div>
        <div class="col-span-2 px-4">
          <div class="container">
            <img class="mx-auto" src="assets/about-us/iglika.webp" />
          </div>
          <p class="mt-6">Иглика Люцканова</p>

          <p class="mt-6">Образование</p>

          <p class="mt-4">
            Университет на Руан, Франция 1995-1996, Магистър по урбанизъм и
            градоустройство.
          </p>
          <p class="mt-4">
            Университет по Архитектура, строителство и геодезия, София, 1997год.
            , специалност Архитектура (МА)
          </p>
          <p class="mt-4">Природо-математическа гимназия, Пловдив, 1988г.</p>

          <p class="mt-6">Специализации</p>

          <p class="mt-4">
            Сертифициран проектант на пасивни сгради, Сертификат “Passive house
            designer”, Passive House Institute (PHI), Darmstadt, Germany
          </p>
          <p class="mt-4">
            Лицензиран проектант на сгради паметници на културата , Министерство
            на Културата, София
          </p>
          <p class="mt-4">
            Сертифициран преподавател за нискоенергийни и пасивни сгради,
            Passive House Institute (PHI), Darmstadt, Germany
          </p>

          <p class="mt-6">Чужди езици</p>

          <p class="mt-4">френски, английски и руски</p>

          <p class="mt-6">Работа към други фирми и организации</p>

          <p class="mt-4">
            2005-2006 – Dorsch Consult, Germany, ръководител на отдел
            проектиране
          </p>
          <p class="mt-4">
            2004 – STRAАBAG International GMBH, Austria, клон София, главен
            изпълнител на летище София.
          </p>
          <p class="mt-4">
            1998-2000 – ICON Architecture and Urban Design, Dublin, Ireland.
            Проекти по националната програма “Tidy Towns” за възобновяване и
            благоустрояване на градски структури и жилищни квартали в Ирландия.
          </p>
          <p class="mt-4">
            1996-1997 – Архитектурен отдел към кметството на община Мейо,
            Ирландия. Благоустрояване на градски центрове. Проекти за
            подновяване и освежаване на улични фасадни фронтове по основните
            градски улични артерии.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
