---
import Acordion from "../components/Acordion.astro";
import Header from "../components/Header.astro";
import MiniFooter from "../components/MiniFooter.astro";
import Layout from "../layouts/Layout.astro";

const firstAcordionItems = [
  {
    id: "q1",
    question: "Скица на парцела",
    answer: `Представлява извадка от действащия кадастрален регулационен план на населеното място или квартала с границите на поземления имот и посочена неговата площ. Скицата се издава от техническа служба или от гишетата за обслужване на населението в местната община и отнема до 15 дни в зависимост от вида на услугата. Таксите се определят от общините.
    <br/>
    <br/>   
    Необходими документи за издаването на скица:
    <br/>
    <br/>
    <ul class="list-disc list-inside">
        <li>заявление по образец</li>
        <li>копие от документ за собственост</li>
    </ul>`,
  },
  {
    id: "q2",
    question: "Виза за проектиране",
    answer: `Представлява извадка от действащ подробен устройствен план, с обхват поземления имот и съседните му поземлени имоти, с означени налични сгради и постройки.  Във визата са нанесени  са допустимите линии на застрояване и задължителните отстояния от съседните имоти, указани са техническите параметри на застрояване – допустими височини, плътност, интензивност , озеленяване и др. За издаване на виза за проектиране е необходимо имотът да представлява УПИ (урегулиран поземлен имот).  Ако имотът представлява поземлен имот (ПИ), то е необходимо да се предприемат  действия за урегулирането му.
    <br/>
    <br/>
    <div class="font-semibold">Визата за проектиране е необходима за започване на проектирането и за получаване на изходни данни от експлоатационните дружества на електроразпределение, водоснабдяване, канализация и др.</div>
    <br/>
    <div>Визата се издава от общинските администрации в срок до 15 дни в зависимост от вида на услугата.</div>
    <br/>
    <div>Необходими документи за издаването на виза за проектиране:</div>
    <br/>
    <ul class="list-disc list-inside">
        <li>заявление по образец</li>
        <li>копие от документ за собственост</li>
        <li>скица на недвижимия имот</li>
        <li>мотивирано предложение – изисква се от повечето общини, като можем да съдействаме за изготвянето му</li>
    </ul>
    <br/>
    <div class="italic">Скицата и визата имат срок на валидност след издаването – 6 месеца. За удължаването на този срок скицата и визата могат да бъдат заверени в съответната дирекция „кадастър” към общината.</div>
    `,
  },
  {
    id: "q3",
    question:
      "Предварителен договор със съответното елекотроразпределително дружество",
    answer: `<div>Необходимо е да се сключи предварителен договор за присъединяване на обекта към електроразпределителната мрежа с регионалното ЕРП. Документът се нарича “Проучване на условията за присъединяване на обект към електрическата мрежа”. За изготвянето му е  необходимо да се  предостави информация за предполагаемата инсталирана мощност и типа на електрозахранването – монофазно или трифазно (консултирайте се с проектанта).</div>
    <br/>
    <div>Електроразпределителното дружеството определя техническите параметри на бъдещото присъединяване: предоставяна мощност, категория по осигуреност на електроснабдяването, брой на фазите в мястото на присъединяването, точка на мерене на консумираната електроенергия.</div>
    <br />
    <div>Срокът за подписване на договора е до 30 работни дни. Таксите се определят от съответното ЕРП.  Необходими документи:</div>
    <ul class="list-disc list-inside">
        <li>заявление по образец</li>
        <li>виза за проектиране или одобрен от съответната община Подробен устройствен план ( по чл.140 и чл. 150 от ЗУТ) и заповед, че е влязъл в сила</li>
        <li>документ за собственост</li>
    </ul>`,
  },
  {
    id: "q4",
    question: `"Изходни данни за проектиране на обект" от регионалното дружество "Водоснабдяване и канализация"`,
    answer: `<div>Регионалното ВИК дружество предоставя необходимите данни за присъединяване на новопроектираната сграда към съществуващите ВИК системи. Ако в населеното място няма изградена канализационна система, то е необходимо в изготвяния технически проект да залегне проектиране и изграждане на необходимите пречиствателни съоръжения за отходна вода.</div>
    <br/>
    <div>Необходимото време за изготвяне на предварителния договор е 30 работни дни. Необходимите документи са издаването му са:</div>
    <ul class="list-disc list-inside">
        <li>заявление по образец</li>
        <li>виза за проектиране с нанесен подземен кадастър (където има такъв)</li>
        <li>документ, удостоверяващ собствеността  или правата на владеене на имота</li>
    </ul>`,
  },
  {
    id: "q5",
    question: "Геодезическо заснемане на парцела",
    answer:
      "Геодезическото заснемане служи за основа на проектирането на сградата. То се извършва на мястото на парцела и е необходима скица на имота. Измерват се границите, нанася се денивелацията на терена, съществуващи дървета и сгради. Измерването и отлагането му в дигитален вид отнема до две седмици. Можем да съдействаме за изготвянето му.",
  },
  {
    id: "q6",
    question: "Геоложки доклад",
    answer: "",
  },
];

const secondAcordionItems = [
  {
    id: "q7",
    question: "Задължителни проектни части",
    answer: `<ol class="list-decimal list-inside">
            <li>Геодезия (геодезична снимка, вертикална планировка, трасировъчен план)</li>
            <li>Архитектура</li>
            <li>Строителни конструкции и Технически контрол по част строителни конструкции</li>
            <li>Електроинсталации</li>
            <li>Водоснабдяване и канализация</li>
            <li>Отопление и вентилация</li>
            <li>Енергийна ефективност</li>
            <li>Доклад за оценка на енергийната ефективност</li>
            <li>Пожарна безопасност – за сгради с разгъната застроена площ над 200 кв.м. и над два етажа (в т.ч. подземните етажи)</li>
        </ol>`,
  },
  {
    id: "q8",
    question:
      "Допълнителни проектни части по изискване на възложителя или общината",
    answer: `<ol class="list-decimal list-inside">
                <li>Озеленяване</li>
                <li>Автоматизация – “смарт” системи</li>
                <li>Охранителна система, видеонаблюдение, управление на засенчване и др.</li>
                <li>ПУОСО – План за управление на строителните отпадъци. Изготвя се от строителя по искане на Общината – можем да съдействаме за изготването му.</li>
                <li>ПБЗ – План за безопасност и здраве. Изготвя се от строителя по искане на Общината – можем да съдействаме за изготването му.</li>
            </ol>`,
  },
];

const thirdAcordionItems = [
  {
    id: "q9",
    question: "Характеристика на услугата и резултатите от нея",
    answer: `<div>Техническите или работните инвестиционни проекти по всички части се съгласуват и одобряват от Главния архитект на общината и са основание за издаване на разрешение за строеж.</div>
        <br/>
        <div>Срокът за изпълнение на услугата е 30 дни за разглеждане от Общински експертен съвет по устройство на територията (ОЕСУТ) или 14 дни с доклад за оценка на съответствието.</div>
        <br/>
        <div>Всички части на одобрените инвестиционни проекти се подпечатват с печата на общинската администрация. В случай, че в едногодишен срок от одобряването на инвестиционните проекти, <strong>възложителят</strong> не направи искане за получаване на разрешение за строеж, <strong>проектът</strong> губи правно действие.</div>`,
  },
  {
    id: "q10",
    question: "Необходими документи",
    answer: `<ol class="list-decimal list-inside">
                <li>Заявление за съгласуване и одобряване на инвестиционен проект (по образец)</li>
                <li>Документ за собственост</li>
                <li>Удостоверение за наследници (при необходимост)</li>
                <li>Виза за проектиране</li>
                <li>Три копия от инвестиционния проект, в обхват и съдържание, определени съгласно Наредба № 4 от 21.05.2001 г. за обхват и съдържание на инвестиционните проекти</li>
                <li>Решение за оценка на въздействието върху околната среда, издадено по реда на Закона за опазване на околната среда</li>
                <li>Оценка за съответствие със съществуващите изисквания към строежите, изготвена от съответното лице или решение на съответния експертен съвет в случаите, когато такава оценка не е изготвена, липсва положително становище на органите по пожарна безопасност за строежите по I-ва и II-ра категория и не са сключени предварителни договори с експлоатационните дружества за присъединяване към мрежите на тяхната инфраструктура</li>
                <li>Нотариално заверено пълномощно (когато документите се подават от пълномощник)</li>
                <li>Документ за платена такса</li>
            </ol>`,
  },
  {
    id: "q11",
    question: "Вътрешен ход на процедурата",
    answer: `<div>Инвестиционният проект подлежи на съгласуване и одобряване от Главния архитект на Общината.</div>
    <br/>
    <div>Срокът за изпълнение на услугата започва да тече от внасянето на документацията и е 14-дневен – в случаите, когато има изготвена оценка по чл. 142, ал. 6, т. 2 от ЗУТ, и едномесечен – при изготвяне на оценка по чл. 142, ал. 6, т. 1 от ЗУТ.</div>
    <br/>
    <div>Съгласуването на инвестиционните проекти се състои в проверка на съответствието им с предвижданията на подробния устройствен план и правилата и нормите за застрояване.</div>
    <br/>
    <div>Оценката за съответствие се извършва:</div>
    <br/>
    <ol class="list-decimal list-inside">
        <li>С приемане от експертен съвет на одобряващата администрация</li>
        <li>Като комплексен доклад, съставен от регистрирана фирма – консултант, несвързана с проектанта – за обекти от първа и втора категория задължително, а за обекти от по-ниска категория – по желание на възложителя</li>
        <li>Като съгласуване на част “Конструктивна” от лице с пълна проектантска правоспособност, различно от автора на проекта – за обекти от трета до пета категория</li>
        <li>като служебно съгласуване на проектните части от експертите на общинската администрация – за обекти, които не са внасяни в експертен съвет и не са придружени от доклад на консултант.</li>
    </ol>
    <br/>
    <div>Съгласуването и одобряването се извършват, като всички части на проекта се подпечатват с печата на общинската администрация, органът отбелязва името и длъжността си и полага подпис. Одобрените проекти, като неразделна част от издадените въз основа на тях разрешения за строеж, се съхраняват безсрочно, в техническия архив на общината (чл. 5, ал. 5 от ЗУТ).</div>
    <br/>
    <div>Отказ да се одобри инвестиционен проект се прави само по законосъобразност, като се посочват конкретните мотиви за това. Възложителят се уведомява писмено по реда на Административнопроцесуалния кодекс за отказа да се одобри инвестиционен проект. Отказът може да бъде обжалван пред органа по чл. 216, ал. 2 от ЗУТ в 14-дневен срок от съобщението за издаването му.</div>
    `,
  },
  {
    id: "q12",
    question: "Разрешение за строеж",
    answer: `<div>В разрешението за строеж се вписват всички фактически и правни основания за издаването му, условията, свързани с изпълнението на строежа, включително оползотворяването на хумусния земен слой и премахването на сградите без режим на застрояване или запазването им за определен срок до завършването на строежа.</div>
            <br />
            <div>Издава се от главния архитект на общината, а за градовете с районно деление – по решение на общинския съвет – от главния архитект на района. Издава се на възложителя възоснова на одобрен проект във фаза технически или работен проект. Ако в едногодишен срок от одобряването на инвестиционните проекти, възложителят не направи искане за получаване на разрешение за строеж, проектът губи правно действие.</div>
            <br/>
            <div>При промяна на инвестиционните намерения след издаването на разрешение за строеж се допускат само несъществени отклонения от одобрения инвестиционен проект.</div>
            <br />
            <div>Разрешението за строеж губи правно действие, когато в продължение на 3 години от неговото издаване не е започнало строителството или когато в продължение на 5 години от издаването му не е завършен грубият строеж, включително покривът на сградите. Това се установява писмено от органа, който го е издал.</div>
            <br/>
            <div>Строежите, за които разрешението за строеж е загубило действието си, могат да бъдат осъществени след презаверяване на разрешението за строеж. Когато разрешението за строеж не бъде презаверено в едногодишен срок, одобреният проект губи правно действие.</div>
            `,
  },
];
---

<Layout title="ВЪПРОСИ - Solair">
  <Header />

  <!-- Background image -->
  <div
    class="p-12 text-center relative overflow-hidden bg-no-repeat bg-cover"
    style="
     background-image: url('assets/faq/bg-image.webp');
     height: 600px;
   "
  >
    <div
      class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(0, 0, 0, 0.6)"
    >
      <div class="flex justify-left px-24 h-full">
        <div class="text-white text-left absolute bottom-0 py-24">
          <h2 class="font-semibold text-4xl mb-12">FAQ</h2>
          <h4 class="font-thin text-xl mb-6">Често задавани въпроси</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->

  <div class="container mx-auto px-16">
    <div class="flex flex-row my-8">
      <div class="w-1/5">
        Какви документи са необходими за стартиране на инвестиционния проект?
      </div>

      <div class="w-4/5 text-center ml-16">
        <Acordion accordionItems={firstAcordionItems} />
      </div>
    </div>

    <!-- Divider -->
    <div class="flex justify-center my-24">
      <div class="w-full border-b border-gray-900"></div>
    </div>
  </div>

  <div class="container mx-auto px-16">
    <div class="flex flex-row my-8">
      <div class="w-1/5">Съдържание на инвестиционния проект</div>

      <div class="w-4/5 text-center ml-16">
        <Acordion accordionItems={secondAcordionItems} />
      </div>
    </div>

    <!-- Divider -->
    <div class="flex justify-center my-24">
      <div class="w-full border-b border-gray-900"></div>
    </div>
  </div>

  <div class="container mx-auto px-16">
    <div class="flex flex-row my-8">
      <div class="w-1/5">
        Одобряване на инвестиционния проект и издаване на разрешение за строеж
      </div>

      <div class="w-4/5 text-center ml-16">
        <Acordion accordionItems={thirdAcordionItems} />
      </div>
    </div>

    <!-- Divider -->
    <div class="flex justify-center my-24">
      <div class="w-full border-b border-gray-900"></div>
    </div>
  </div>
  <MiniFooter />
</Layout>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
