---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.vue";
import Carousel from "../components/Carousel.astro";

export const projectsArray = [
  {
    imagesrc:
      "https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp",
    title: "Title",
    subtitleText: "Some teeeeeext",
  },
  {
    imagesrc:
      "https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp",
    title: "Title",
    subtitleText: "Some teeeeeext",
  },
  {
    imagesrc:
      "https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp",
    title: "Title",
    subtitleText: "Some teeeeeext",
  },
  {
    imagesrc:
      "https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp",
    title: "Title",
    subtitleText: "Some teeeeeext",
  },
  {
    imagesrc:
      "https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp",
    title: "Title",
    subtitleText: "Some teeeeeext",
  },
  {
    imagesrc:
      "https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp",
    title: "Title",
    subtitleText: "Some teeeeeext",
  },
];

const carouselImages = [
  {
    src: "assets/carousel/corner-house.webp",
    title: "Сертифицирани проектанти на пасивни сгради",
    subtitle: "Автори на първата сертифицирана пасивна сграда в България",
  },
  {
    src: "assets/carousel/library.webp",
    title: "Лицензирани проектанти на сгради, паметници на културата",
    subtitle: undefined,
  },
  {
    src: "assets/carousel/sofia-museum.webp",
    title: "Носители на архитектурни награди",
    subtitle: undefined,
  },
];
---

<script src="../../node_modules/tw-elements/dist/js/index.min.js"></script>
<Layout title={"Solair - solair passive house"} usesSmallFooter={false}>
  <Carousel images={carouselImages} />
  <div class="flex justify-center my-36">
    <div class="text-4xl font-semibold my-xl">Избрани проекти</div>
  </div>
  <Gallery client:load projects={projectsArray} />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
