---
import Header from "../components/Header.astro";
import MiniFooter from "../components/MiniFooter.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title?: string;
  usesSmallFooter: boolean;
}

const { title, usesSmallFooter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex flex-col h-screen justify-between">
      <Header />
      <main class="mb-auto">
        <slot />
      </main>

      {usesSmallFooter ? <MiniFooter /> : <Footer />}
    </div>
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  /* @layer components {
    .accordion-button:not(.collapsed) {
      --tw-text-opacity: 1;
      color: rgb(253 224 71 / var(--tw-text-opacity));
      background-color: #fff;
      box-shadow: inset 0 -1px 0 rgb(229, 231, 235);
    }
  } */
</style>
